<div class = "main-chat-header">
 <div class = "left-header">
   <div class = "chat-name">hello</div>
 </div>
 <div class = "right-header">
   <div class = "exit-btn">
      <a href ="#">チャットを終了する</a>
   </div>
 </div>
</div>
<div class = "main-chat-body">
   <div class = "messagelist">
      <div class = "name-date">
         <div class = "username">Tom</div>
         <div class = "date">2022/11/28(Mon) 13:38:30</div>
      </div>
      <div class = "message">おはよう</div>
   </div>

   <div class = "messagelist">
      <div class = "name-date">
         <div class = "username">Sim</div>
         <div class = "date">2022/11/28(Mon) 13:38:30</div>
      </div>
      <div class = "message">元気？</div>
   </div>
</div>
<div class = "main-chat-footer">
   <div class = "chat-box">
      <input class = "form-message" placeholder= "type a message">
      <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
   </div>
   <input class = "submit-btn" type="submit" value="送信">
</div>