	<div class = "side-bar-header">
     <div class = "nickname">
        <a href="#">Tom</a>
     </div>
     <div class = "new-btn">
        <a href="#">チャットを作成する</a>
     </div>
  </div>
  <div class = "side-bar-roomlists">
     <div class = "room">
       <div class = "list">
         <a href = "#">techroom1</a>
       </div>
     </div>
     <div class = "room">
        <div class = "list">
         <a href = "#">techroom2</a>
       </div>
     </div>
  </div>